html, body{
    margin: 0;
    width: 100%;
}

#clock{
    width: 100%;
    position: absolute;
    font-size: 4vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 25%;
    margin-left: -24px;
}