body {
    margin: 0;
    padding: 0;
    background-color: rgb(136, 154, 253);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
    list-style: none;
}

.nav {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav li:hover {
    background: rgb(122, 122, 122);
}

.nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: rgb(136, 154, 253);
    color: #fff;
    width: 1000px;
    text-transform: uppercase;
    font-weight: 900;
}

.nav>ul>li {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
}


/* Dropdown */


.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

.dropdown li {
    background: rgb(136, 154, 253);
    display: none;
}

.dropdown li:hover {
    background: rgb(122, 122, 122);
}

.nav li:hover>.dropdown {
    perspective: 1000px;
}

.nav li:hover>.dropdown li {
    transform-origin: top center;
    opacity: 0;
    display: block;
}

.nav li:hover>.dropdown li:nth-child(1) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

.nav li:hover>.dropdown li:nth-child(2) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

.nav li:hover>.dropdown li:nth-child(3) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

.nav li:hover>.dropdown li:nth-child(4) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 300ms;
}

.nav li:hover>.dropdown li:nth-child(5) {
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 450ms;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    70% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}