* {
  margin: 0;
  padding: 0;
}

/* background-color: rgb(99, 137, 207); */

body {
  background-color: rgb(136, 154, 253);
  background-size: cover;
 }

nav {
  width: 100%;
  height: 61px;
  background-color: rgb(136, 154, 253);
}

nav p {
  font-family: arial;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color: white;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

.header {
  padding: 4em;
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  background-image: url(Art/Museum1.jpg);
  background-position: center;
  margin-top: -350px;
}

footer {
  background-color: rgb(155, 155, 155);
  color: black;
  padding: 20px 30px;
  margin-top: 800px;
  font-family: sans-serif;
}

nav ul li a:hover {
  background-color: rgb(241, 241, 241);
  color: black;
}

nav ul li:hover ul {
  display: block;
}

.slide-1,.slide-2,.slide-3,.slide-4  {       position: relative;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
}



/* Image slide */
        
.slide-1 {
    margin-top: 300px;
    margin-left: 430px;
    animation: fade1 10s infinite;
}

.slide-2 {
    margin-top: 300px;
    margin-left: 430px;
    animation: fade2 10s infinite;
}

.slide-3 {
    margin-top: 300px;
    margin-left: 430px;
    animation: fade3 10s infinite; 
}

.slide-4 {
    margin-top: 300px;
    margin-left: 430px;
    animation: fade4 10s infinite;
}
        
@keyframes fade1 
{
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fade2 
{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade3
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1};
    75%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade4
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}

/* Einde */
