
.header {
  padding: 5em;
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  background-image: url(Art/Museum1.jpg);
  background-position: center;
  margin-top: 0px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 30px;
  margin-top: 800px;
  font-family: sans-serif;
}


/* Image slide */



.slide-1,.slide-2,.slide-3,.slide-4  {       position: relative;
    display: block;
    position: absolute;
    width: 600px;
    height: 400px;
}
        
.slide-1 {
    margin-top: 230px;
    margin-left: 430px;
    animation: fade1 10s infinite;
}

.slide-2 {
    margin-top: 230px;
    margin-left: 430px;
    animation: fade2 10s infinite;
}

.slide-3 {
    margin-top: 230px;
    margin-left: 430px;
    animation: fade3 10s infinite; 
}

.slide-4 {
    margin-top: 230px;
    margin-left: 430px;
    animation: fade4 10s infinite;
}
        
@keyframes fade1 
{
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fade2 
{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade3
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1};
    75%{opacity: 0;}
    100%{opacity: 0;}
}

@keyframes fade4
{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}

/* Einde */
